html,body {
    font-family: "Sedan SC", serif;
    height: 100%;
    width: 100%;
}

h1,h2,span{
    animation: fadeInColor 1s ease-out;
}

.adv {
    animation: fadeInOpacity 2s ease-in-out infinite;
}

.body-landing-container {
    font-family: "Sedan SC", serif;
    background-color: #a5a5a5;
    scroll-behavior: smooth;
    position: relative;
    margin: 0;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding: 0.5rem;
    background-color: rgb(66, 66, 66);
    position: relative;
    box-shadow: 0 0 10px rgba(9, 33, 64, 0.808);
}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    display: flex;
    flex-direction: row;
    column-gap: 15px;

}

.navbar ul {
    list-style-type: none;
}

.navbar ul a {
    color: white;
    text-decoration: none;

}

.navbar ul a:hover {
    text-decoration: none;
    color: gold;
    transition: 1s;
}

.logo-container img {
    height: 5rem;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

#shop-now {
    left: 0;
    background-color: rgb(255, 115, 28);
    place-items: center;
    place-content: center;
    width: 100%;
    color: white;
    text-align: center;
    position: relative;

}

#shop-now h2 {
    font-size: 2rem;
}

#shop-now p {
    font-size: 1rem;
}

.card{
    border-radius: 8px; 
    box-shadow: 0 3px 5px 1px rgb(0, 0, 0); 
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.card p{
margin-top: 0;
}
.card:hover{
    border-radius: 8px; 
    box-shadow: 0 0 10px  rgb(255, 102, 0); 
    cursor: pointer;
    
    transform: scale(1.05);

}

.card img{
    animation: fadeIn 1s ease-out;
}

#category {
    place-items: center;
    place-content: center;
    position: relative;

}

.category-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    column-gap: 1.8rem;
}

.category-item {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    text-align: center;
}

.category-item img {
    margin: 1em;
    border-radius: 10px;
    height:12rem;
    width:12rem;
}

#featured-products {
    position: relative;
    place-items: center;
    place-content: center;
}

#testimonials {
    place-items: center;
    place-content: center;
    position: relative;
    background-color: black;
    color: white;
}

.testimonials-container {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: .8rem;
}


.testimonials-container p{
    font-style: italic;
    position: relative;
    padding: .5rem;
    width: 20rem;
    border-radius: 10px;
}

.testimonials-container h2{
    margin-bottom: 0;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    column-gap: 1.8rem;
}

.products-item {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    text-align: center;
}

.products-item img {
    margin: 1em;
    border-radius: 10px;
    height:12rem;
    width:12rem;
}

footer {
    background-color: rgb(66, 66, 66);
    color: white;
    justify-items: center;
    padding: 0.1em 0;
}

/* mobile device */


/* login screen*/


.body-login-container{
display: flex;
flex-direction: row;
width: 100vw;
height: 100%;
justify-content: center;
align-items: center;
background-color: rgb(255, 172, 116);
}

.form-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(9, 33, 64, 0.808);
    padding: 2em;
}

form label{
    color: #050aa9;
    font-weight: bold;
}

form label:hover{
    color: gold;
    cursor: pointer;
    font-weight: bold;
}

form h1{
margin:0;
margin-bottom: 0.6rem;
padding:0;
}


.radio{
    /* display: grid; */
    background-color: rgb(129, 129, 244);
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-form  label{
    color: rgb(255, 102, 0);;
    font-weight: bold;
}


.sign-up-form label{
    color: rgb(255, 102, 0);
    font-weight: bold;
}

.hidden {
    display: none;
}

#sign-in-tab:checked ~ .sign-in-form ,
#sign-up-tab:checked ~ .sign-up-form 
{
 display:block;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding:0.3rem;
    width:97%;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus  {
    background-color: rgb(255, 172, 116);
}

input[type="radio"]{
    width: 0.7rem;
    height: 0.7rem;
    appearance: none; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    cursor: pointer;
    outline: none;
}

input[type="radio"]:checked{
    appearance: none; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    background-color: #000; 
    cursor: pointer;
    outline: none;
}

button {
    padding:0.3rem;
    width:30%;
    border-radius: 0.3rem;
    background-color: black;
    color: white;
}

button:hover {
    background-color: gold;
    color: black;
}

hr{
    border-color: rgb(255, 102, 0);;
}

#comparision {
    height:100%;
    width: auto;
    padding:3rem 2rem;
    margin: 0;
    background-color: white;
    text-align: center;
}

#comparision table {
    height:80%;
    width: 100%;
    border-collapse: collapse;
    /* border:1px solid rgb(255, 102, 0); */
}

#comparision table th{
    background-color:  rgb(255, 102, 0);
    border:1px solid rgb(196, 196, 196);

}

#comparision table th,td{
    border:1px solid rgb(255, 102, 0);
}



@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInColor {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }